.headerText {
  font-weight: 300;
  font-size: 0.875rem; /* equivalent to text-sm */
  text-align: center;
  padding: 0 1rem; /* equivalent to px-4 */             
    color: inherit; /* Inherits text color from parent */
    transition: color 0.4s linear;
}

@media (max-width: 640px) {
  .bannerHeader {
    height: 60px; /* Adjusted height for smaller screens */
  }
}