.description{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    .body{
        max-width: 1400px;
        display: flex;
        gap: 50px;
        position: relative;
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 36px;
                gap: 8px;
                line-height: 1.5;
                font-weight: 300;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 50%;
                font-weight: 300;
                line-height: 32px;
            }
        }
        .button{
            top: 80%;
            left: calc(100% - 320px); 
            width: 180px;
            height: 180px;
            background-color: #1C1D20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}

@media screen and (min-width: 768px ) and (max-width : 1200px){
    .description{
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 100px;
        .body{
            flex-direction: column;
            align-items: center;
            gap: 30px;
            p{
                &:nth-of-type(1){
                    font-size: 36px !important;
                }
                &:nth-of-type(2){
                    width: 100%;
                    font-size: 24px !important;
                }
            }
            .button{
                width: 150px;
                height: 150px;
                top: 70%;
                left: calc(50% - 75px);
                p{
                    font-size: 16px !important;

                }
            }
        }
    }
}


@media screen and (max-width: 1200px){
    .description{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 100px;
        .body{
            flex-direction: column;
            align-items: center;
            gap: 30px;
            p{
                &:nth-of-type(1){
                    font-size: 24px;
                }
                &:nth-of-type(2){
                    width: 100%;
                    font-size: 16px;
                }
            }
            .button{
                width: 120px;
                height: 120px;
                top: 70%;
                left: calc(50% - 75px);
                p{
                font-size: 16px;
                font-weight: 300;
                z-index: 1;
            }
            }
        }
    }
    
}